body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 243, 228);
    gap: 20px;
    height: 1000px;
}

.button-container {
    height:25px;
    width: 220px;
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    height: 680px;
    width: 680px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.grid-item {
    flex: 1 0 auto; /* Allows items to grow, shrink, and sets a base size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 0.5px solid #b5b5b5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item.white {
    background-color: white;
}

.grid-item.shade {
    background-color: black;
    opacity: 0.1;
}